<main>
    <div class="container">
      <br>
      <br>
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <h5 class="card-title mb-3 text-danger fw-bolder fs-2">Formulario de registro</h5>
                <div class="row">
                    <div class="col-8">
                        <form [formGroup]="registerForm" class="row g-3" (ngSubmit)="onSubmit()">
                            <div class="col-6">
                              <label class="form-label" for="firstName">Nombre</label>
                              <input [formControl]="firstNameControl" class="form-control" type="text" />
                              <app-error-helper [control]="firstNameControl"></app-error-helper>
                            </div>
                            <div class="col-6">
                              <label class="form-label" for="lastName">Apellido</label>
                              <input [formControl]="lastNameControl" class="form-control" type="text" />
                              <app-error-helper [control]="lastNameControl"></app-error-helper>
                            </div>
                            <div class="col-12">
                              <label class="form-label" for="email">E-mail</label>
                              <input [formControl]="emailControl" class="form-control" type="email" />
                              <app-error-helper [control]="emailControl"></app-error-helper>
                            </div>
                            <div class="col-6">
                              <label class="form-label" for="password">Password</label>
                              <input [formControl]="passwordControl" class="form-control" type="password" />
                            </div>
                            <div class="col-6">
                              <label class="form-label" for="repeatPassword">Repita password</label>
                              <input [formControl]="repeatPasswordControl" class="form-control" type="password" />
                            </div>
                            <div class="col-12">
                              <select [formControl]="countryControl" class="form-select">
                                <option value="">Selecciona tu país</option>
                                <option value="'pe'">Perú</option>
                                <option value="'ar'">Argentina</option>
                                <option value="'mx'">México</option>
                                <option value="'co'">Colombia</option>
                                <option value="'br'">Brasil</option>
                                <option value="'bo'">Bolivia</option>
                                <option value="'es'">España</option>
                                <option value="'us'">EE.UU</option>
                              </select>
                            </div>
                            <div class="col-8">
                              <label class="form-label" for="streetDirection">Dirección</label>
                              <input [formControl]="streetDirectionControl" class="form-control" type="text" />
                              <app-error-helper [control]="firstNameControl"></app-error-helper>
                            </div>
                            <div class="col-4">
                              <label class="form-label" for="streetName">Distrito</label>
                              <input [formControl]="streetNameControl" class="form-control" type="text" />
                              <app-error-helper [control]="firstNameControl"></app-error-helper>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                              <div class="form-check">
                                <input [formControl]="signedTermsControl" class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                  Acepto términos y condiciones
                                </label>
                              </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                              <button [disabled]="registerForm.invalid" class="btn btn-primary" type="submit">REGISTRARSE</button>
                            </div>
                          </form>
                    </div>
                    <div class="col-4">
                      <img src="https://i.pinimg.com/736x/c4/28/d6/c428d6f8bdb2e0927bbd066b4ffdeab4.jpg" heigth="100%" width="100%" alt="naruto">
                    </div>
                </div>
            </div>
       </div>
    </div>
</main>
