<small class="text-danger">
    <div *ngFor="let error of control?.errors | keyvalue">
    <div [ngSwitch]="error.key">
        <div *ngSwitchCase="'required'">
            Este campo es requerido.
        </div>
        <div *ngSwitchCase="'minlength'">
            Debe tener por lo menos {{error.value.requiredLength}}.
        </div>
        <div *ngSwitchCase="'email'">
            Debe ser un email válido.
        </div>
        <div *ngSwitchDefault>
            Error desconocido.
        </div>
    </div>
    </div>
</small>
